ul {
  background-color: black;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a,
button a {
  color: white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}

li a:hover {
  background-color: white;
  color: black;
}

input,
select {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid #ebebeb;
  padding: 5px 0;
  color: #222;
  margin-bottom: 31px;
}

input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

p {
  margin-bottom: 0;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset;
  -moz-box-shadow: 0 0 0 30px white inset;
  -webkit-box-shadow: 0 0 0 30px white inset;
  -o-box-shadow: 0 0 0 30px white inset;
  -ms-box-shadow: 0 0 0 30px white inset;
}

h2 {
  line-height: 1.8;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}

.clear {
  clear: both;
}

body {
  font-size: 13px;
  line-height: 1.8;
  color: #fff;
  background-image: url("pics/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  font-weight: 400;
  margin: 0;
}

.main {
  padding: 60px 0;
  position: relative;
}

.feedback-form {
  width: 586px;
  height: 580px;
  background: #fff;
  margin-left: 175px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  margin-top: 5%;
  padding: 50px 60px 70px 60px;
}

.content {
  padding: 50px 60px 70px 60px;
}

input:focus,
select:focus {
  color: #222;
  border-bottom: 2px solid #4966b1;
}

.submit {
  width: auto;
  background: #4966b1;
  color: #fff;
  padding: 16px 17px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 15px 0 rgba(73, 102, 177, 0.7);
  -moz-box-shadow: 0 1px 15px 0 rgba(73, 102, 177, 0.7);
  -webkit-box-shadow: 0 1px 15px 0 rgba(73, 102, 177, 0.7);
  -o-box-shadow: 0 1px 15px 0 rgba(73, 102, 177, 0.7);
  -ms-box-shadow: 0 1px 15px 0 rgba(73, 102, 177, 0.7);
}

.submit:hover {
  background: #3a518d;
}

@media screen and (max-width: 1024px) {
  .content {
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .feedback-form {
    padding: 50px 30px 70px 30px;
  }
}
