* {
  box-sizing: border-box;
}

#panel {
  display: none;
  float: left;
  height: 700px;
  padding: 20px;
  width: 25%;
}

#map {
  background-color: grey;
  float: left;
  height: 100vh;
  width: 100%;
}

/* Clear floats after the columns */
.content::after {
  clear: both;
  content: "";
  display: table;
}

.closebtn {
  color: #818181;
  display: block;
  float: right;
  font-size: 36px;
  padding: 8px 8px 8px 32px;
  position: relative;
  text-decoration: none;
  top: 0;
  transition: 0.3s;
}

.collapsible {
  background-color: rgb(146, 146, 146);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  padding: 18px;
  text-align: left;
  width: 100%;
}

.active,
.collapsible:hover {
  background-color: rgb(121, 121, 121);
}

.collapsible::after {
  color: white;
  content: '\002B';
  float: right;
  font-weight: bold;
  margin-left: 5px;
}

.active::after {
  content: "\2212";
}

.info {
  background-color: #f1f1f1;
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  transition: max-height 0.2s ease-out;
}

/* Responsive layout - makes the panel and the map stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #panel,
  #map {
    width: 100%;
  }
}

.filter-container {
  margin: 6px auto 0;
}

#filters-form {
  display: flex;
  justify-content: center;
}

#search {
  font-size: 1.2em;
}

#filter-input {
  font-size: 1.2em;
}
