* {
  box-sizing: border-box;
}

#panel {
  float: left; 
  padding: 20px;
  width: 30%;
  background-color:  antiquewhite;
}

#map {
  float: left;
  width: 70%;
  height: 700px;
  background-color: grey;
}

/* Clear floats after the columns */
.content:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the panel and the map stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #panel, #map {
    width: 100%;
  }
}
