* {
  box-sizing: border-box;
}

#panel {
  display: none;
  float: left;
  height: 700px;
  padding: 20px;
  width: 25%;
}

#map {
  background-color: grey;
  float: left;
  height: 700px;
  width: 100%;
}

/* Clear floats after the columns */
.content::after {
  clear: both;
  content: "";
  display: table;
}

#panel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.closebtn {
  position: relative;
  top: 0;
  float: right;
  font-size: 36px;
}

.info {
  display: none;
}

.collapsible {
  width: 100%;
}

/* Responsive layout - makes the panel and the map stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #panel,
  #map {
    width: 100%;
  }
}

.checkbox-inline input:checked ~ label {
  color: cornflowerblue;
}
